@import "/node_modules/bootstrap/dist/css/bootstrap.css";

:root {
  --escooter-color: #64ccf5;
  --escooter-color-text: rgb(50, 50, 50);
  --litter-color: #840cc9;
  --litter-color-text: white;
  --bulk-color: #ffd900;
  --bulk-color-text: rgb(50, 50, 50);
  --other-color: #ff6100;
  --other-color-text: white;
}
